// 全局样式文件
:root {
  --spring-hover: #52c41a;
  --spring-dispaly: #faa219;
  // --spring-dispaly: rgb(53, 112, 71);
}

html,
body {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* 隐藏滚动条，保留滚动能力 */
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
}

.ant-btn-link,
a {
  text-decoration: none;
  color: var(--spring-dispaly);
}

.ant-btn-link {
  font-weight: bold;
  font-size: 15px;
}

.ant-btn-link:hover,
a:hover {
  color: #52c41a !important;
}
